<p class="notice"><%= notice %></p>

<p>
  <b>Date:</b>
  <%= @meal.date.strftime("%A %d %B %Y") if (!@meal.date.nil?) %>
</p>

<p>
  <b>Cost:</b>
  <%= "€%.2f" % @meal.cost %>
</p>

<p>
  <b>Description:</b>
  <%= @meal.description %>
</p>

<h2>Cooks</h2>
<% @meal.cooks.each do |cook| %>
<p>
	<b>Cook:</b>  <%= cook.name %>
</p>
<% end %> 

<h2>Add a cook:</h2>

<%= form_for :cook, @new_cook, :url => meal_cooks_path(@meal) do |f| %>
	<%= f.error_messages %>
	<div class="field">
	<%= f.label :name %><br />
	<%= f.text_field :name %>
	</div>
	<div class="actions">
	<%= f.submit %>
	</div>
<% end %> 

<h2>Add a guest:</h2>

<%= form_for :guest, @new_guest, :url => meal_guests_path(@meal) do |f| %>
	<%= f.error_messages %>
	<div class="field">
	<%= f.label :name %><br />
	<%= f.text_field :name %>
	</div>
	<div class="actions">
	<%= f.submit %>
	</div>
<% end %>

<%= link_to 'Edit', edit_meal_path(@meal) %> |
<%= link_to 'Back', meals_path %>
