<p class="notice"><%= notice %></p>

<p>
  <b>Date:</b>
  <%= @meal.date.strftime("%A %d %B %Y") %>
</p>

<p>
  <b>Cost:</b>
  <%= "€%.2f" % @meal.cost %>
</p>

<p>
  <b>Description:</b>
  <%= @meal.description %>
</p>


<%= link_to 'Edit', edit_meal_path(@meal) %> |
<%= link_to 'Back', meals_path %>
